<div *ngIf="blogPost">
    <p>Editing Post {{blogPost.id}}</p>
    <label for="title">Title:
    <input [(ngModel)]="blogPost.title" type="text" name="title" size="50"><br/>
    </label>
    <label for="description">Description:</label>
    <input type="text" name="description" size="50" value="{{blogPost.description}}"><br/>
    <label for="tags">tags:</label>
    <input type="text" name="tags" size="50" value="{{blogPost.tags}}"><br/>
    <label for="content">content:</label><br />
    <textarea name="content" rows="20" cols="100">{{blogPost.content}}</textarea><br/>
    <input type="radio" name="publishState" value="published" [checked]="blogPost.published == true ? true : false">
    <label for="publish">Published</label>
    <input type="radio" name="publishState" value="unpublished" [checked]="blogPost.published == false ? true : false">
    <label for="unpublish">Unpublished</label><br/>
    <button (click)="savePost()">Save</button>
</div>